@{
    ViewData["Title"] = "Courier Rate Page";
}
<style>
    .companylogo {
        width: auto;
        display: inline-table;
        vertical-align: middle;
        position: relative;
        top: 35px;
        min-width: 128px;
    }

    #CourierRates h1 {
        font-weight: 400;
    }

    .companylogo img {
        width: 100%;
    }

    #CourierRates .btn-width {
        width: 95%;
        margin: auto;
        display: inline-block;
    }

    .titlecolor {
        color: #df8d0c;
    }

    @@media (max-width:992px) {
        .companylogo {
            width: 75px;
            display: inline-table;
            vertical-align: middle;
            position: inherit;
            top: 0;
            margin: 10px 0;
        }
    }

    .errortxtShipper, .errortxtRecipient {
        color: red;
        font-size: 13px;
        line-height: 15px;
        display: none;
    }

    #RatingContainer input::-webkit-outer-spin-button,
    #RatingContainer input::-webkit-inner-spin-button {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
    }
</style>


<div class="container">
    <section id="CourierRates">


<div class="col-md-12">
    <form id="RatingContainer" class="row" method="post" action="/APICall/Get_STMPS_Label" onsubmit="return validateRatingContainer();">
        <div class="form-group col-md-6 col-lg-4">
            <label class="col-form-label" for="txtName">Shipper Postal Code:</label>
            <input type="number" id="txtShipperPostalCode" onkeydown="javascript: return event.keyCode == 69 ? false : true" class="form-control" name="shipperPostalCode" value="" />
            <span class="errortxtShipper">Please Enter Shipper Postal Code.</span>
        </div>
        <div class="form-group col-md-6 col-lg-4">
            <label class="col-form-label" for="txtAge">Recipient Postal Code:</label>
            <input type="number" id="txtRecipientPostalCode" onkeydown="javascript: return event.keyCode == 69 ? false : true" class="form-control" name="recipientPostalCode" value="" />
            <span class="errortxtRecipient">Please Enter Recipient Postal Code.</span>
        </div>
        <div class="form-group col-md-6 col-lg-4">
            <label class="col-form-label" for="txtAge">Service Type:</label>
                    <select name="ServiceType" id="selectcompnyid" class="form-control">
                        <option value="">---Select Service---</option>
                        <option value="STMPS">STMPS</option>
                        <option value="UPS">UPS</option>
                        <option value="FEDEX">FEDEX</option>
            </select>
            <span class="errortxtRecipient">Please Select Service Type</span>
        </div>
        <div class="form-group col-md-6 col-lg-2">
            <label class="w-100 col-form-label d-none d-lg-inline-block">&nbsp;</label>
            <button class="btn btn-md btn-primary" type="submit">Get Label</button>
           
        </div>
    </form>
   
</div>
</section>
</div>

<script>
    function validateRatingContainer() {
        debugger;
        var shipperpostal = $("#txtShipperPostalCode").val().trim();
        var validationFlag = true;
        if (shipperpostal == "") {
            $(".errortxtShipper").css("display", "inline-block");
            $("#txtShipperPostalCode").css("border-color", "red");
            validationFlag = false;
        }
        else {
            $(".errortxtShipper").css("display", "none");
            $("#txtShipperPostalCode").css("border-color", "#ced4da");
        }
        $('#txtShipperPostalCode').keyup(function () {
            this.value = this.value.replace(/[^0-9\.]/g, '');
        });
        var recipientpostal = $("#txtRecipientPostalCode").val().trim();
        if (recipientpostal == "") {
            $(".errortxtRecipient").css("display", "inline-block");
            $("#txtRecipientPostalCode").css("border-color", "red");
            validationFlag = false;
        }
        else {
            $(".errortxtRecipient").css("display", "none");
            $("#txtRecipientPostalCode").css("border-color", "#ced4da");
        }
        $('#txtRecipientPostalCode').keyup(function () {
            this.value = this.value.replace(/[^0-9\.]/g, '');
        });

        var servicetype = $("#selectcompnyid").val();
        if (servicetype == "") {
            $(".errortxtShipper").css("display", "inline-block");
            $("#selectcompnyid").css("border-color", "red");
            validationFlag = false;
        }
        return validationFlag;

    }
</script>