@using static CourierRates.Controllers.APICallController;
@model CourierRates.Controllers.APICallController.Root1
@{
    ViewData["Title"] = "Stamps Label";
    Layout = null;
   
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.esm.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.esm.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<h2 style="text-align:center">Labels Info</h2>
</br>
<h4><span style="color:red; text-align:center">Below Is your Label Details</span></h4>
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Click here to get back on master page</a>
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body>
    <div id="maindiv">
        <table class="table table-striped sampleTable" id="table_id">
            <thead>
                <tr>
                    <th scope="col">Label Id</th>
                    <th scope="col">Traking Number</th>
                    <th scope="col">Total Ammount</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>@Model.label_id</td>
                        <td>@Model.tracking_number</td>
                        <td>@(Model.shipment_cost.currency + " " + Model.shipment_cost.total_amount)</td>
                    </tr>
            </tbody>
        </table>
    </div>
</body>
